Package: oguj-dict-pkg
Version: 1.1
Section: base
Priority: optional
Architecture: all
Depends: goldendict
Maintainer: Arpan Chavda <codejarcc@gmail.com>
Description: English to Gujarati Package
 This is a English to Gujarati package for Goldendict dictionary.
